<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
         IgnorableNamespaces="uap rescap desktop">
  <Identity Name="Contoso.ScreenshotFlash"
            Publisher="CN=Contoso Software"
            Version="1.0.0.0" />
  <Properties>
    <DisplayName>Screenshot Flash</DisplayName>
    <PublisherDisplayName>Contoso Software</PublisherDisplayName>
    <Description>App desktop per catturare porzioni di schermo rapidamente.</Description>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19045.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
    <Resource Language="it-it" />
  </Resources>
  <Applications>
    <Application Id="App"
                 Executable="ScreenshotFlash\RScreenFlash.exe"
                 EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Screenshot Flash"
                          Description="Cattura schermate con selezione personalizzata."
                          BackgroundColor="transparent"
                          Square150x150Logo="Images\Square150x150Logo.png"
                          Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Square71x71Logo="Images\Square71x71Logo.png"
                          Wide310x150Logo="Images\Wide310x150Logo.png"
                          Square310x310Logo="Images\Square310x310Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <desktop:Extension Category="windows.fullTrustProcess" Executable="ScreenshotFlash\RScreenFlash.exe" />
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
